<!DOCTYPE html>
<html>
<head>
	<title>Say Hello</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>

	<h1>Hi, I'm inside hello.erb!</h1>

	<p>We can print the message: <%= @message %>.</p>

</body>
</html>